.arif{
     margin-left: 350px;
}



.bg{
    
    border-radius: 8px;
    height:180px;
    width: 400px;
    margin: 50px auto;
    background:darkslategray url('./wp2497051.png');
    background-size:cover;
    color:lightgoldenrodyellow;
    box-shadow: 2px 4px 18px 5px;
    opacity: 100;
}


h2{
    text-align: center;
    
}
.gap{
    margin-left: 100px;
    font-style:italic;
    font-size: 20px;
}

pre{
    padding-left: 200px;
}

 .valid{
    position: absolute;
    font-size: 8px;
} 